body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  header {
      background-image: url('/logo_original-wide-color-small.png');
      width: 100%;
      height: 50px;
      background-size: 237px 36px;
      background-repeat: no-repeat;
      background-position: center;
    }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* This centers all child items horizontally */
}

#sliders {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 90%;
}

.slider-label {
  flex: 1;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 30%;
}

.slider {
  /* flex: 1; */
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 70%;
  /* Specified to be the full width of the flex-item */
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  /* Fully opaque on hover */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  /* Cursor on hover */
}

.slider-value {
  flex: 0 0 20%;
  /* Do not grow, do not shrink, start at 20% width */
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.metrics {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  width: 100%;
}

.value {
  font-size: 2.5em;
  color: #333;
}

.unit {
  font-size: 0.85em;
  color: #666;
}

h1 {
  width: 100%;
  /* Makes the h1 full width of the flex-container */
  text-align: center;
  /* Centers the text of the h1 tag */
}

#daily-output {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gauge-container {
  margin: 10px;
  width: 150px;
  height: 150px;
  position: relative;
}

#map-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  column-gap: 20px;
}
/* Style the map container to have a specific size */
#map {
  height: 600px;
  /* This sets the height of the map */
  width: 100%;
  /* This sets the width of the map */
}

